<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= params[:name] %></h1>
     <p><h2>Coach: <%= params[:coach] %>
      <br></br> Point Guard:  <%= params[:pg] %>
        <br></br> Shooting Guard: <%= params[:sg] %>
        <br></br>  Small Forward: <%= params[:sf] %>
        <br></br> Power Forward: <%= params[:pf] %>
        <br></br> Center: <%= params[:c] %>
        </p>

 </body>
</html>
